body{background-image: linear-gradient(180deg, #f3ec78, #af4261)}
h1{text-align: center}
p{color: #FF5733}

a:link {color: red;}
a:visited {color: green;}
a:hover {color: hotpink;}
a:active {color: blue;}